/* * {
    Utilizando apenas para o componente infite-slide, refatorar isso mais tarde
} */


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    background: #f2f2f2;
    overflow: hidden;
    padding: 20px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide div {
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    font-weight: bold;
    font-size: large;
}

.price {
    color: green;
}

.price-negative {
    color: red;
}